html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #121314;
    color: #dfe0e6;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 14px;

}

h1 {
    color: #4a8add;
    font-weight: bold;
    font-size: 28px;
    font-family: Arial;
    text-transform: uppercase;
  }

.app {
    height: 100%;
    width: 100%;
    display: flex;
}

.contenedor-izquierdo {
    flex: 1;
    overflow-y: scroll; 
}

.lista-canciones {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.lbl-carpeta {
    color: grey;
}

.cancion {
    padding: 20px;
    background: #1c1c1f;
    border-bottom: 2px solid #121314;
    cursor: pointer;
}

.carpeta {
    color: rgb(9, 107, 236);
    padding: 20px;
    border-bottom: 2px solid #121314;
    cursor: pointer;
}

.subir {
    color: rgb(9, 236, 104);
    padding: 20px;
    font-style: italic;
    border-bottom: 2px solid #121314;
    cursor: pointer;
}

.contenedor-derecho {
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4085ee;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.upload-form {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 600px){
    .app {
        flex-direction: column;
    }
    .contenedor-izquierdo {
        flex: 3;
    }
    .contenedor-derecho {
        flex: 2;
    }
    .upload-form {
        display: none;
    }

    .botones {
        display: inline;
    }

}